    <div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
      <div class="sidebar-header">
        <a class="navbar-brand feed-page" href="/feed"> <h3>E-Store</h3> </a>
      </div>
      {{!-- feed, category, wishlist, messages, my listings, profile--}}
      <ul class="list-unstyled components">
        {{!--
        <p>Dummy Heading</p> --}}
        <li>
          <a href="/profile">My Profile</a>
        </li>
        <li>
          <a href="/feed">Feed</a>
        </li>
        <li >
          <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Category</a>
          <ul class="collapse list-unstyled category-item" id="homeSubmenu">
            <div class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink">
             
            </div>

          
          </ul>
        </li>

        <li>
          <a href="/wishlist">Wishlist</a>
        </li>
      
      
        <li>
          <a href="/listings">My Listings</a>
        </li>
      </ul>

    </nav>
    <div id="content">
      {{!-- Pu in main content here  --}}
     <div class="container text-center" style="margin-top:20px">

        <div class="row">
            <div class="col-md-6 offset-md-2 offset-md-right-2">
               <h3>{{product.name}}</h3> 
            </div>
        </div>

        <div class="row" id="message-listing" data-total-messages="{{totalNumberOfMessages}}">

            <div class="col-md-6" id="user-messages">
                <p> <h4>Your Messages</h4></p>
                 {{#each messageFromUser}}
                <div class="card product">
                   
                    <div class="card-body">
                        <p>{{messageText}}</p>
                        <p>{{createdAt}}</p>
                    </div>
               
                </div>
              {{/each}}
            </div>

            <div class="col-md-6" id="other-user-messages">
               
                <p><h4>Message from user</h4></p>
                {{#each dbMessageFromOtherUser}}
                     <div class="card product">
                   
                    <div class="card-body">
                        <p>{{messageText}}</p>
                        <p>{{createdAt}}</p>
                    </div>
               
                </div>
                {{/each}}
            </div>

        </div>

        <div class="row m-5">
            <div class="col-md-4 offset-md-4 offset-md-right-4">
                <form class="create-form">
                    <div class="form-group">
                        <textarea class="form-control" id="user-new-message" name="user-new-message" rows="3" placeholder="Type your message here..."></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary" id="submit-user-new-message">Submit</button>
                </form>
            </div>
        </div>
    </div>
    

    {{!-- <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="message-box">
                    <img src="https://cdn-images-1.medium.com/max/1200/1*MccriYX-ciBniUzRKAUsAw.png" alt="Avatar" style="width:10%;">
                    <div class="row">
                        <div class="col-3">
                            <p><strong>John P</strong></p>

                        </div>
                        <div class="col-6">
                            <strong>Product Name </strong><br>
                            <p>orem ipsum dolor sit amet, consectetur adipiscing...</p>
                        </div>
                        <div class="col-3">
                            <span class="time-right">11:00</span>
                        </div>
                    </div>

                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            
                            <div class="col-3">
                                <p><strong>Jane P</strong></p>

                            </div>
                            <div class="col-6">
                                <strong>Product Name </strong><br>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing...</p>
                            </div>
                            <div class="col-3">
                                    <span class="time-right">11:00</span>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                        <div class="card-body">
                            <div class="row">
                                
                                <div class="col-3">
                                    <p><strong>Jane P</strong></p>
    
                                </div>
                                <div class="col-6">
                                    <strong>Product Name </strong><br>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing...</p>
                                </div>
                                <div class="col-3">
                                        <span class="time-right">11:00</span>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    
                                    <div class="col-3">
                                        <p><strong>Jane P</strong></p>
        
                                    </div>
                                    <div class="col-6">
                                        <strong>Product Name </strong><br>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing...</p>
                                    </div>
                                    <div class="col-3">
                                            <span class="time-right">11:00</span>
                                        </div>
                                </div>
                            </div>
                        </div>
            </div>


            <div class="col-6">
                <div class="card product">

                    <div class="card-body">
                        <form action="" class="form-body" id="submit-message">
                            <div class="form-group">
                                <textarea name="" id="" cols="30" rows="10" placeholder="respond to message" class="form-control" style="height:70px"></textarea>

                            </div>
                            <button type="submit" class="btn btn-primary" style="float: right;">Submit</button>
                        </form>


                    </div>

                </div>
              
                <div class="message-box">
                    <img src="https://cdn-images-1.medium.com/max/1200/1*MccriYX-ciBniUzRKAUsAw.png" alt="Avatar" style="width:10%;">
                    <p>Hello. How are you, is the product still available?</p>
                    <span class="time-right">11:00</span>
                </div>

                <div class="message-box darker">
                    <img src="https://cdn-images-1.medium.com/max/1200/1*MccriYX-ciBniUzRKAUsAw.png" alt="Avatar" class="right" style="width:10%;">
                    <p>Hey, yes it is, do you have an offer?</p>
                    <span class="time-left">11:01</span>
                </div>

                <div class="message-box">
                    <img src="https://cdn-images-1.medium.com/max/1200/1*MccriYX-ciBniUzRKAUsAw.png" alt="Avatar" style="width:10%;">
                    <p>How about $20</p>
                    <span class="time-right">11:02</span>
                </div>

                <div class="message-box darker">
                    <img src="https://cdn-images-1.medium.com/max/1200/1*MccriYX-ciBniUzRKAUsAw.png" alt="Avatar" class="right" style="width:10%;">
                    <p>Sounds good can you pick it up today?</p>
                    <span class="time-left">11:05</span>
                </div>
            </div>

        </div>
    </div> --}}

    <script>
            // // Make sure we wait to attach our handlers until the DOM is fully loaded.
        $(document).ready(function() {
            newMessageFromUser();
            checkForNewMessages();
        });

        function newMessageFromUser() {
            $("#submit-user-new-message").on("click", function(event) {
                event.preventDefault();
                if ($("#user-new-message").val()) {
                    var messageText = $("#user-new-message").val().trim();
                    addNewMessageFromUserToDb(
                        {
                            "messageText": messageText,
                            UserId: window.location.href.split("/")[4],
                            otherUserId: window.location.href.split("/")[5],
                            productId: window.location.href.split("/")[6]
                        }
                    )   
                } else {
                    alert("ERROR: Please type in a message before submitting the form.");
                }
            });
        }

        function addNewMessageFromUserToDb(newMessage) {
            console.log(JSON.stringify(newMessage));
            $.ajax({
                url: "/message",
                type: "POST",
                data: newMessage,
                success: function(result) {
                    console.log("Posted user's message to database and alerted the other user.");
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                    console.log("Sorry, invalid request." + "\n" + "textStatus: " + textStatus + " errorThrown: " + errorThrown);
                }
            });
        }

        function checkForNewMessages() {
            $.ajax({
                url: "/message/new",
                type: "POST",
                data: {
                    UserId: window.location.href.split("/")[4],
                    otherUserId: window.location.href.split("/")[5],
                    productId: window.location.href.split("/")[6] 
                },
                success: function(result) {
                    var displayedTotalNumberOfMessages = $("#message-listing").attr("data-total-messages");
                    // console.log("current listing of messages: " + displayedTotalNumberOfMessages);
                    // console.log("Total number of messages in the database: " + JSON.stringify(result));
                    // sample result object value:
                    // {"totalNumberOfMessages":12}
                    if (parseInt(displayedTotalNumberOfMessages) !== parseInt(result.totalNumberOfMessages)) {
                        // Reload the page to get the updated listing of messages
                        location.reload();
                    } else {
                        checkForNewMessages();
                    }
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                  console.log("Sorry, invalid request." + "\n" + "textStatus: " + textStatus + " errorThrown: " + errorThrown);
                }
            });
        }
    </script>


      {{!-- End content here  --}}
    </div>
  </div>

   